# ######################################################
# ##################### Backend (Django) ################
# ######################################################
*.log
db.sqlite3
media/

# Environments
.venv/
.env
*.env

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
*.env

# ######################################################
# ##################### Archivos a nivel raíz ##########
# ######################################################

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# macOS
.DS_Store

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Obfuscation related
app.*.map.json

# Symbolication related
app.*.symbols

# Windows
Thumbs.db

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
