{% extends 'base.html' %} {% load static %} 
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "TINY STEPS - CONTACT US" %}{% endblock title %} 

{% block main_contents %}
    <main id="main-content">
        <div class="container mt-4 mb-5">
            <div class="row mb-4">
                <div class="col">
                    <h2 class="text-center">{% trans "CONTACT US" %}</h2>
                    <p class="lead text-center">
                        {% trans "Fill out the form below to request more information" %}
                    </p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8">
                    {% if messages %}
                        {% include 'partials/messages.html' %}
                    {% endif %}

                    <form method="post" action="{% url 'contact' %}" aria-labelledby="form-heading" novalidate>
                        <div class="form-group" aria-labelledby="form-heading">
                            <span id="form-heading" class="visually-hidden">{% trans "Contact Us Form" %}</span>
                            {% csrf_token %}

                            <div class="card">
                                <div class="card-body">
                                {{ form|crispy }}

                                <div class="d-grid mt-4">
                                    <button type="submit" class="btn btn-primary" aria-label="{% trans "Submit information request" %}">
                                    {% trans "SUBMIT" %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock main_contents %}
