{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container py-5">
    {% include 'guides/components/breadcrumbs.html' with section_type=section_type is_articles=True %}
    
    {% include 'guides/components/page_header.html' with 
        title=title|default:"Articles" 
        subtitle=subtitle|default:"Browse informative articles related to child development and nutrition" 
    %}
    
    {% block additional_content %}{% endblock %}
    
    {% block article_list %}{% endblock %}
</div>
{% endblock %}