{% load i18n %}

<div class="card border-0 shadow-sm rounded-4 overflow-hidden">
    <div class="card-body p-0">
        <div class="ratio ratio-4x3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194347.47826651798!2d-3.8443510211449574!3d40.4380986115485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422997800a3c81%3A0xc436dec1618c2269!2sMadrid!5e0!3m2!1ses-419!2ses!4v1746179609518!5m2!1ses-419!2ses" 
                    class="map-iframe" allowfullscreen="" loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"
                    title="{% trans 'Location map for Tiny Steps' %}" aria-label="{% trans 'Location map for Tiny Steps' %}">
            </iframe>
        </div>
    </div>
</div>
