/*--------------*/
/* GOOGLE FONTS */
/*--------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*---------------------------*/
/* SELECTOR UNIVERSAL Y HTML */
/*---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    overflow-x: hidden;
}

article {
    flex: 2;
    background-color: #ffffff;
    padding: 20px;
    margin-right: 20px;
}

aside {
    text-align: center;
    height: 100%;
    flex: 1;
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

h2 {
    margin: 15px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold, 500;
}

h3 {
    margin-top: 30px;
    margin-bottom: auto;
    text-align: center;
    font-size: 1.5em;
}

h4 {
    text-align: center;
    font-size: 1.2em;
}

/*------*/
/* BODY */
/*------*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/*-------------------------------*/
/* CONTENEDORES DE PARRAFOS P ESPECIFICOS */
/*-------------------------------*/
.specific-paragraphs {
    text-align: justify;
    flex: 1;
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 30px;
}

/*------------------------------------*/
/* CSS PARA MENSAJES DE info_request_create */
/*------------------------------------*/
ul.messages {
    list-style-type: none;
    padding: 10px;
    margin: 20px 0;
}

ul.messages li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

ul.messages li.success {
    background-color: #d4edda;
    color: #155724;
}

ul.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
}

/*--------*/
/* NAVBAR */
/*--------*/
.navbar {
    background-color: rgb(186, 1, 25);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand,
.nav-link {
    color: #fff;
}

/* LOGOTIPO RELECLOUD */
.tabler--north-star {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 12h18m-9 9V3M7.5 7.5l9 9m-9 0l9-9'/%3E%3C/svg%3E");
}

.logo-container {
    display: flex;
    align-items: center;
}

.navbar-brand i {
    margin-right: 10px;
}

.navbar-brand .navName {
    margin: 0;
    font-size: 1.5em;
}

/* OPCIONES MENU (HOME, ...) */
.nav-link {
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    opacity: 1;
}

.current {
    /* SABER LA PAGINA ACTUAL */
    color: #000 !important;
    transition: color 0.3s;
}

/* ICONOS RRS (GITHUB, DEV...) */
.nav-item a {
    padding: 5px;
    color: #ffffff;
    transition: color 0.3s, text-decoration 0.3s;
    position: relative; /* IMPORTANTE POSICIONAR PSEUDO-ELEMENTO! */
}

.nav-item.social {
    font-size: 20px;
    opacity: 1;
    color: #ffffff;
    font-weight: bold;
    transition: opacity 0.5s ease, text-decoration 0.3s;
}

.nav-item.social a {
    text-decoration: none;
    color: #ffffff;
}

.nav-item.social a:hover {
    color: #000;
    opacity: 0.6;
}

/* SUBRAYADO ANIMADO */
.navbar-nav .nav-item::before {
    content: "";
    position: absolute;
    bottom: 7.3px; /* OJO 7.3PX PEGA EL SUBRAYADO AL TEXTO COMO QUIERO CUIDAD NO CAMBIARLO!!!! */
    height: 1px; /* GROSOR */
    transition: width 0.3s;
    background-color: #000000;
    left: 0; /* DESDE INICIO DE TEXTO */
    transform: scaleX(0); /* OCULTAR SUBRAYADO INICIAL */
    transform-origin: bottom left; /* FIJAR ORIGEN TRANSICION */
}

.navbar-nav .nav-item:hover::before {
    transform: scaleX(1); /* MOSTRAR ANIMACION */
}

/*------*/
/* MAIN */
/*------*/
main {
    flex: 1 0 auto;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

/* CONTAINERS IN MAIN */
.col-lg-8 {
    margin-bottom: 15px;
}

.col-md-8 {
    padding-top: 25px;
    margin-bottom: 15px;
}

.list-group { /* CONTENEDOR DE LOS ENLACES DE LA LISTA PARA LA PAGINA DE DESTINATIONS */
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-group-item {
    color: #007BFF;
    text-align: center;
    display: flex;
    flex-direction: column; /* OJO: Alineamos los elementos verticalmente */
    align-items: center; /* OJO: Centramos los elementos en el eje horizontal */
}

.list-group-item a {
    box-sizing: border-box;
    border: 3px solid #000000;
}

.list-group-item a:hover {
    text-decoration: none;
    border: 3px solid #000000;
} 

.view-destination-btn {
    margin: 20px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* BOTONES DE PAGINAS DE DESTINATIONS (EDIT Y DELETE) */
.destinationsAction{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* IMAGENES */
.imgWeb {
    max-width: 25%;
    height: auto;
    border: #000000 3px solid;
    border-radius: 3px;
    margin: 20px auto;
    display: block;
}

.destinationImage {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
    border: #000000 3px solid;
    border-radius: 3px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ESTILOS CONTENEDOR REPO */
.enlaceRepo {
    border: black 2px solid;
    border-radius: 0%;
    text-align: center;
    display: inline-block;
    padding: 25px 20px;
    margin: 20px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.enlaceRepo:hover {
    background-color: #439eff;
}

/*--------*/
/* FOOTER */
/*--------*/
footer {
    background-color: rgb(186, 1, 25);
    padding: 10px;
    width: 100%;
    flex-shrink: 0; /* Evitar que el footer se encoja */
}

.sticky-footer {
    position: relative;
    margin-top: auto; /* Empujar el footer al fondo */
}

.footer-nav-item {
    /* CLASE DE HOME, PROJECTS... EN FOOTER */
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: auto;
    text-decoration: none; /* QUITAR ENCLACES DEL FOOTER */
}

.footer-nav-link {
    color: #ffffff;
    text-decoration: none;
}

.footerContainer a {
    color: #ffffff; /* COLOR DE LOS ENLACES DEL FOOTER DE AZUL (POR DEFECTO) A BLANCO (AHORA)*/
}

.footer-nav-item:hover {
    color: #000000;
}

.border-bottom {
    padding-bottom: 10px; /* CENTRADO DE LINKS DEL FOOTER CON LA LINEA BLANCA DEL FOOTER ( ------------------ ) */
}

.madeContainer {
    /* CONTENEDOR PARA CENTRAR ENLACE MADE BY */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.madeBy {
    font-size: 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    opacity: 1;
    color: #ffffff;
    padding-top: 25px;
    font-weight: bold;
}

.footerAuthorText{
    font-size: 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    opacity: 1;
    color: #ffffff;
    padding-top: 20px;
    font-weight: bold;
}

.copyright {
    font-size: 15px;
    opacity: 1;
    color: #ffffff;
    font-weight: bold;
}

/*--------------.*/
/* MEDIA QUERIES */
/*---------------*/

/* Estilos para iPhone 8 / Redmi 9 */
@media only screen and (max-width: 393px) and (max-device-height: 851px) {
    h1 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
}

/* iPad Mini (Vertical) */
@media only screen and (min-width: 394px) and (max-width: 768px) and (min-height: 851px) and (max-height: 1024px) {
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    
    .navName {
        font-size: 40px;
    }
    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-item {
        padding: 5px; /* PARA QUE NO SE ME SUBAN LOS ICONOS ARRIBA */
        text-align: center;
    }
    .social-icons {
        display: flex;
        flex-direction: column;
    }
    .navbar-nav .nav-item::before {
        display: none;
    }
}

/* iPad Pro 12.9" (Vertical) */
@media only screen and (min-width: 769px) and (max-width: 1024px) and (min-height: 1025px) and (max-height: 1366px) {
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }

    .navName {
        font-size: 40px;
    }
    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-item {
        padding: 5px; /* PARA QUE NO SE ME SUBAN LOS ICONOS ARRIBA */
        text-align: center;
    }
    .social-icons {
        display: flex;
        flex-direction: column;
    }
    .navbar-nav .nav-item::before {
        display: none;
    }
}

/* Pantalla de portátil más común */
@media only screen and (min-width: 1025px) and (max-width: 1440px) and (min-height: 900px) and (max-height: 900px) {
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }

    .navName {
        font-size: 40px;
    }
    .nav-link {
        font-size: 28px;
        padding: 10px 20px;
    }
    .nav-item {
        text-align: center;
    }
}

/* Pantalla Full HD */
@media only screen and (min-width: 1441px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 24px;
    }
        
    .navName {
        font-size: 40px;
    }
    .nav-link {
        font-size: 28px;
        padding: 10px 20px;
    }
    .nav-item {
        text-align: center;
    }
    .nav-item.social::before {
        display: none;
    }
}

/* Media query para pantallas de 641px de ancho y mayores */
@media (min-width: 641px) {
    .destinationImage {
        width: 300px;
        height: 200px; 
    }
}


/* ++++++++++++++++++ */
/* OTRAS MEDIAQUERIES */
/* ++++++++++++++++++ */

/* Media query general para pantallas entre 388px y 1024px */
@media only screen and (min-width: 388px) and (max-width: 1024px) {
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .specific-paragraphs {
        margin-bottom: 15px;
    }
    
    .imgWeb {
        max-width: 50%; /* Imagen más grande en pantallas pequeñas-medianas */
    }
    
    .navbar-nav {
        align-items: center;
    }
}

/* Ajuste responsivo de imágenes */
@media (max-width: 768px) {
    .imgWeb {
        max-width: 70%; /* Más ancho en móviles */
    }
}