{% extends 'base.html' %}
{% load static %}

{% block title %}
    TINY STEPS - EVERY STEP MATTERS
{% endblock %}

{% comment %} PONER MISMO NOMBRE QUE EL BLOQUE MAIN (mainContent) PARA ENLAZARLO CON EL MAIN DE INDEX, ABOUT... {% endcomment %}
{% block main_contents %} 
    <!-- Contenedor principal -->
    <div class="container-fluid">
        
        <!-- CONTENIDO PRINCIPAL -->
        <section class="mainContent container-fluid">
            <h2 class="text-center">WELCOME TO TINY STEPS</h2>

            <div class="specific-paragraphs">
                <p class="text-center">
                    TINY STEPS is an app designed for first-time parents, launched in 2025, that offers the best tools to 
                    support your parenting journey. We provide the most intuitive features and the most reliable information 
                    to make caring for your baby an easy and enjoyable experience. With personalized recommendations, smart scheduling, 
                    and expert guidance, we ensure that you have everything you need at your fingertips. We are the best option for 
                    navigating your child's early years with confidence and peace of mind.
                </p>
                <div class="image-container">
                    <img src="{% static 'res/img/media/ASTRONAUTA.jpg' %}" class="imgWeb" alt="ASTRONAUTA">
                </div>
            </div>

            <div class="specific-paragraphs">
                <p class="text-center">
                    TINY STEPS is an app designed for first-time parents, launched in 2025, that offers the best tools to 
                    support your parenting journey. We provide the most intuitive features and the most reliable information 
                    to make caring for your baby an easy and enjoyable experience. With personalized recommendations, smart scheduling, 
                    and expert guidance, we ensure that you have everything you need at your fingertips. We are the best option for 
                    navigating your child's early years with confidence and peace of mind.
                </p>
                <div class="image-container">
                    <img src="{% static 'res/img/media/ASTRONAUTA.jpg' %}" class="imgWeb" alt="ASTRONAUTA">
                </div>
            </div>
            <div class="specific-paragraphs">
                <p class="text-center">
                    TINY STEPS is an app designed for first-time parents, launched in 2025, that offers the best tools to 
                    support your parenting journey. We provide the most intuitive features and the most reliable information 
                    to make caring for your baby an easy and enjoyable experience. With personalized recommendations, smart scheduling, 
                    and expert guidance, we ensure that you have everything you need at your fingertips. We are the best option for 
                    navigating your child's early years with confidence and peace of mind.
                </p>
                <div class="image-container">
                    <img src="{% static 'res/img/media/ASTRONAUTA.jpg' %}" class="imgWeb" alt="ASTRONAUTA">
                </div>
            </div>
            
        </section>
    </div>
{% endblock main_contents %}